



.container__services{
    margin-top: 5rem;

}

.container__service-body{
    display: flex;
    flex-direction: row;
    background-color: #42AA90;
    padding: 3rem;
    border-radius: 2rem;

}

.service__developer {
    background-color: #4A5DE3;
}

.service__yellow{
    background-color: #F8B705;
}

.service__text-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services__main-image{
    width: 40%
}

.services__area{
    width: 90%;
    color: #ffff;
    margin: 0 0 0 2rem;
}

.services__area h5{
    background:#F9A63A ;
    border-radius: 25px;
    padding: 0.7rem 1.7rem 0.4rem 1.7rem;
    max-width: 40%;
    font-size: 0.9rem; 
    color: #fff;
    letter-spacing: 1px;
    margin: 1.9rem 0 -0.4rem;
    text-align: center;
}

.services__title{
    font-weight:600;
}

.servise__list-item{
    line-height: 2.3;
}

.service__type{
    display: flex;
    flex-direction: row;
    color: #fff;
    margin: 1rem 0;
    justify-content: space-between;
}


.features__box{
    width: 49%;
    border-radius: 16px;
}



.container__contact{
    display: flex;
   flex-direction: row;
    background-color:#F4F4FF;
    margin: 2rem 0 3rem 0;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem;
    justify-content: space-between;
   
}

.contact__text{
    width: 49%;
}

.contact__text h2{
    padding-bottom: 1rem;
}

.form__contact{
    width: 45%;
    text-align: center;
    align-content: center;
    padding-top: 2.5rem;
}

.form__contact small{
    padding-top: 1.3rem;
}

.email__check-text2{
    color: #fc5881;
   
}



/* animation of our awesomeness */
.wordCarousel {
    font-size: 36px;
    font-weight: 100;
    color: #1f2530;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .wordCarousel div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 65px;
    padding-top: 10px;
    margin-top: -10px;
  }
  .wordCarousel div li {
    font-family: Serif;
    color: #060F3D;
    font-weight: 700;
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
  }
  

  .flip__text-clr{
      color: #94979c;
  }
  
  .flip2 {
    -webkit-animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
            animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }
  
  .flip3 {
    -webkit-animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
            animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }
  
  .flip4 {
    -webkit-animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
            animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }
  
  @-webkit-keyframes flip2 {
    0% {
      margin-top: -180px;
    }
    5% {
      margin-top: -90px;
    }
    50% {
      margin-top: -90px;
    }
    55% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  
  @keyframes flip2 {
    0% {
      margin-top: -180px;
    }
    5% {
      margin-top: -90px;
    }
    50% {
      margin-top: -90px;
    }
    55% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  @-webkit-keyframes flip3 {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  @keyframes flip3 {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  @-webkit-keyframes flip4 {
    0% {
      margin-top: -360px;
    }
    5% {
      margin-top: -270px;
    }
    25% {
      margin-top: -270px;
    }
    30% {
      margin-top: -180px;
    }
    50% {
      margin-top: -180px;
    }
    55% {
      margin-top: -90px;
    }
    75% {
      margin-top: -90px;
    }
    80% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  @keyframes flip4 {
    0% {
      margin-top: -360px;
    }
    5% {
      margin-top: -270px;
    }
    25% {
      margin-top: -270px;
    }
    30% {
      margin-top: -180px;
    }
    50% {
      margin-top: -180px;
    }
    55% {
      margin-top: -90px;
    }
    75% {
      margin-top: -90px;
    }
    80% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }


.contact__text{
    display: flex;
    align-items: center;
    justify-content: center;
}




/* ====================MEDIA QUERIES (LARGE DEVICES) ===========================*/

@media screen and (max-width:1024px){
    
  }
  
  /* =================MEDIA QUERIES (MEDIUM DEVICES) =========================*/


  @media screen and (max-width:800Px){

    .container__service-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .services__main-image{
          width: 90%;
          align-self: baseline;
        }

      .services__area h5, .services__title{
        max-width: 100%;
        text-align: center;
      }

      .form-container{
        background: none;
        border: none;
      }

      .email-field{
        font-size: 0.8rem;
        width: 18rem;
    }

  }
  

  /* ====================MEDIA QUERIES (SMALL DEVICES) ===========================*/
  
  @media screen and (max-width:600px){

    .container__service-body{
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: 0 auto;
        padding: 0;
        justify-content: center;
        padding: 01rem 0rem;
  
       
    
    }
    .services__main-image{
          width: 80%;
          margin: 0 auto;

      }
    
    .service__text-form{
        padding: 0rem;
        text-align: center;
        max-width: 40rem;
        
    }

    .feature__text{
        max-width: 600px;
        margin: 0 auto;
    }

    .services__area{
        display:flex;
        flex-direction: column;
        max-width: 100%;
        padding: 0rem 0rem 2rem 0;
        justify-content: center;
        margin: 0 auto;
        
    }  

    .services__area h5{
        max-width: 80%;
        justify-content: center;
        margin: 0 auto;
        margin-top: 1rem;
    }

    .service__type{
        display: grid;
        grid-template: 8rem 1rem / 15rem 28rem;
    
    }

    .servise__list-item li{
      margin-top: 0.8rem;
      line-height: 1.4rem;
    }
    
    .service__developer, .service__yellow{
        grid-row: span 3;
        grid-column: span 3;
        text-align: center;
        justify-content: center;
        margin-left: 1rem;
    }

    .container__contact{
        display: flex;
        flex-direction: column;
        padding-bottom: 8rem;
        width: 100%;
    }

    .contact__text{
        width: 21rem;
        text-align: center;
        padding: 0 0.2rem;
    }

    .form__contact{
        width: 18rem;
        padding: 0rem;
        margin-top: 6rem;

        
    }

    .submit-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
    }

    .email__input-service{
        width: 18rem;
       
    }

    .servise__list-item{
        line-height: 1.8;
        padding: 0;
        margin: 0;
        width: 100%;
        
    }

    .contact__text{
        display: flex;
        flex-direction: column;
        
    }

    .flip4{
       padding-left: -9rem;
    }

    .wordCarousel{
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
    }

  }